.catsDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.catsItem > img{
    width: 16vw;
    height: 15vw;
}
.catsItem:not(:first-child){
    margin-left: 5%;
}

.main{
    display: flex;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons > button{
    width: 100%;
    margin: 5%;
}